<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

        <style>
          *{
          margin:0;
          padding:0;
      }
      @import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
      .lead{

          font-family: sans-serif;
          margin-top: 40px ;

      }
      .card-title{
        margin:auto;
        text-align:center;

    }
    .card-text{
        margin:auto;
        text-align:center;

    }
    .btn{

        width:800px;
        margin:auto;
        text-align:center;
        width: 20%;
        padding: 5px;
        cursor: pointer;
    }
      </style>

    <title></title>
</head>

<body>

    <main>

        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-dark">You Name It , We Have It !!</h1>
                    <p class="lead">  Due to Covid & Lockdwon we are away from our loved ones ,
                      So what?
                    lets get connected to ourselves , discover and explore our interests.</p>

                </div>
            </div>
        </section>

        <div class="row row-cols-1 row-cols-md-2 g-4 ">
            <div class="col">
              <div class="card">
                <img src="img/AdobeStock_321646842_Preview.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Animation</h5>
                  <p class="card-text">Animations is not the art of drawings that move but the art of
                    movements are drawn.</p>
                    <a href="#" class="btn btn-dark">Select</a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="img/markus-spiske-iar-afB0QQw-unsplash.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Apps & Software</h5>
                  <p class="card-text">You can mass-produce hardware ; you cannot mass produce software ;
                    you cannot mass-produce the human mind.</p>
                    <a href="#" class="btn btn-dark">Select</a>
              </div>
            </div>
          </div>
            <div class="col">
              <div class="card">
                <img src="img/AdobeStock_131043042_Preview.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Books & Writings</h5>
                  <p class="card-text">Either write something worth reading or do something worth writing.</p>
                  <a href="#" class="btn btn-dark">Select</a>
                </div>
              </div>
          </div>
            <div class="col">
              <div class="card">
                <img src="img/AdobeStock_290768326_Preview.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Crafts & DIY</h5>
                  <p class="card-text">Being creative is not a hobby it is a way of life.</p>
                  <a href="#" class="btn btn-dark">Select</a>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="img/brett-jordan-DcAxu9Z39p0-unsplash.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Comics</h5>
                <p class="card-text">I always saw myself as a hero in comic books and in movies. I grew
                    up believing this dream.</p>
                    <a href="#" class="btn btn-dark">Select</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="img/AdobeStock_217534184_Preview.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Dance & Theater</h5>
                <p class="card-text">You dance love , and you dance joy , and you dance dreams.</p>
                <a href="#" class="btn btn-dark">Select</a>
            </div>
          </div>
        </div>
          <div class="col">
            <div class="card">
              <img src="img/umberto-jXd2FSvcRr8-unsplash.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Design & Tech Products</h5>
                <p class="card-text">Design is intelligence made visible.</p>
                <a href="#" class="btn btn-dark">Select</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="img/AdobeStock_194503843_Preview.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Drawing & Painting</h5>
                <p class="card-text">Drawing includes three and a half quaters of the content of
                    painting...Drawing contains everything except hue.</p>
                    <a href="#" class="btn btn-dark">Select</a>
              </div>
            </div>
          </div>
         <div class="col">
            <div class="card">
              <img src="img/AdobeStock_381976692_Preview.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Education</h5>
                <p class="card-text">>Education is the passport to the future , for tomorrow belongs to
                    those who prepare for it today.</p>
                    <a href="#" class="btn btn-dark">Select</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="img/AdobeStock_191057762_Preview.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Food & Cooking</h5>
                <p class="card-text">Cooking is about creating something delicious for someone else.</p>
                <a href="#" class="btn btn-dark">Select</a>
            </div>
          </div>
        </div>
          <div class="col">
            <div class="card">
              <img src="img/Movie.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Film & Video</h5>
                <p class="card-text">When given an opportunity, deliver excellence and never quit.</p>
                <a href="#" class="btn btn-dark">Select</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="img/AdobeStock_292006544_Preview.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Games</h5>
                <p class="card-text">After making all the mistakes , every player has a chance to turn
                    the outcome of the game around by making the right moves next.</p>
                    <a href="#" class="btn btn-dark">Select</a>
              </div>
            </div>
          </div>
        <div class="col">
            <div class="card">
              <img src="img/tim-mossholder-imlD5dbcLM4-unsplash.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Comedy</h5>
                                <p class="card-text">Life is a tragedy when seen in close-up, but a comedy in long-shot.</p>
                                <a href="#" class="btn btn-dark">Select</a>
              </div>
            </div>
        </div>
          <div class="col">
            <div class="card">
              <img src="img/AdobeStock_384632145_Preview.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Merchandise</h5>
                <p class="card-text">I feel very strongly that clothes that fit well makes a person feel
                    better.It's maybe half the value of the merchandise.</p>
                    <a href="#" class="btn btn-dark">Select</a>
            </div>
          </div>
        </div>
          <div class="col">
            <div class="card">
              <img src="img/live-concert-drums.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Music & Sound Design</h5>
                <p class="card-text">Music begins where the possibility of language end.</p>
                <a href="#" class="btn btn-dark">Select</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="img/AdobeStock_136591809_Preview.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">PodCast & AudioBook</h5>
                <p class="card-text">When you read a book , the story definitely happens inside your
                    head. When you listen , it seems
                    to happen in a little cloud all around it , like a fuzzy knit cap pulled down over
                    your eyes.</p>
                    <a href="#" class="btn btn-dark">Select</a>
              </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
              <img src="img/AdobeStock_105884204_Preview.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Photography</h5>
                <p class="card-text">In photography there is a reality so subtle that it becomes more
                    real than reality.</p>
                    <a href="#" class="btn btn-dark">Select</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="img/AdobeStock_319511397_Preview.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Sports</h5>
                <p class="card-text">It is my state to take my opponent and myself on to unknown
                    grounds.A game of chess is not an
                    examination of knowledge; it is a battle of nerves.</p>
                    <a href="#" class="btn btn-dark">Select</a>
              </div>
            </div>
          </div>
        </div>










    </main>
    <!-- START THE FEATURETTES -->

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
    <footer class="container">
      <p class="float-end"><a href="#">Back to top</a></p>
      <p>Â© 2020-2021 CoviFun, Inc. Â· <a href="#">Privacy</a> Â· <a href="#">Terms and Conditions</a></p>
    </footer>
</body>

</html>